:root {
  --text-grey-100: rgba(255, 255, 255, 0.6);
  --text-grey-200: rgba(85, 85, 85, 0.3);
  --text-white: #ccc;
  --text-dark: #333;
  --text-variant: rgb(212, 138, 212);

  --text-clr-main: #333;
  --text-clr-variant-100: #08deb6;
  --text-clr-variant-200: purple;

  --bg-header: #030001;
  --bg-body: rgba(#181818, 0.8);
  --bg-white: white;
  --bg-button: #330233;

  --bg-grey: #999;
  --bg-variant: purple;
}