@use '../abstracts/' as *;
@use '../components/modal' as *;

main {
  width: 100%;
  padding-inline: 6%;
  margin: auto;

  section {
    padding-block: 3em;
    margin-inline: auto;
  }
}

@mixin base-laptop() {
  main {
    padding-inline: 8%;

    section {
      &.gallery-container {
        .gallery-content {
          width: 80%;
        }
      }

      &.news-letter {
        width: 90%;
      }
    }
  }
}