@use '../abstracts/' as *;

.gallery-container {
  --black: #181818;

  height: 120vh;
  position: relative;
  overflow: hidden;

  .heading {
    display: block;
    width: 100%;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  &::after {
    @include pseudo();
    bottom: -50px;
    background: linear-gradient(to top, var(--black) 60%, transparent);
  }

  .gallery-content {
    margin: $pad-500 auto;
    padding: 0 $pad-300;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $pad-300;
    position: relative;
    overflow: hidden;

    &::before {
      @include pseudo();
      top: -50px;
      background: linear-gradient(to bottom, var(--black) 60%, transparent);
    }

    .gallery {
      display: grid;
      grid-auto-rows: min(230px, 50vh);
      grid-auto-rows: 40vh;
      gap: $pad-400;

      .img-box {
        border: 1px solid var(--text-grey-200);
        border-radius: $br-light;
        box-shadow: $bs-200;
        overflow: hidden;
        transition: $transition-200;
        cursor: pointer;

        filter: blur(1px);
        -webkit-filter: blur(1px);

        img {
          transition: $transition-200;
        }

        &:hover {
          opacity: 0.5;
          filter: blur(1px);

          img {
            scale: 1.2
          }
        }
      }
    }

    .gallery-3 {
      display: none;
    }
  }
}

.gallery-1 {
  animation: move-up 15s linear infinite forwards;
}

.gallery-2 {
  animation: move-up 10s linear infinite forwards;
}

@mixin gallery-laptop() {
  .gallery-container {
    height: 120vh;

    .gallery-content {

      grid-template-columns: repeat(3, 1fr);
      gap: $pad-300;

      .gallery {
        display: grid;
        grid-auto-rows: 40vh;
        gap: $pad-400;
      }

      .gallery-1 {
        animation-name: move-up-laptop;
      }

      .gallery-3 {
        display: grid;
        animation: move-up-laptop 20s linear infinite forwards;
      }
    }
  }
}


@keyframes move-up {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(-128vh)
  }
}

@keyframes move-up-laptop {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(-125vh)
  }
}

@keyframes move-down {
  0% {
    transform: translateY(100vh)
  }

  100% {
    transform: translateY(0)
  }
}