@use '../abstracts/' as *;

.news-letter {
  .container {
    @include flex-column();
    gap: $pad-400;
    // background-image: url("/Assets/Images/petals.jpg");
    // background-blend-mode: darken;

    p {
      max-width: 50ch;
      padding: $pad-200 0;
      text-align: center;
      margin: auto;
    }

    form {
      @include flex-column();
      width: 100%;
      gap: $pad-400;

      input {
        @include form-input-reset();

        width: 70%;
        margin: auto;
        border: 1px solid var(--text-clr-variant);
        padding: $pad-200 $pad-300;
        box-shadow: $bs-input-field;
      }
    }
  }
}

@mixin newsLetter-laptop {
  .news-letter {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: start;

      p {
        text-align: left;
        max-width: 100%;
      }

      form {
        @include flex-row();

        input {
          width: 100%;
        }
      }
    }

  }
}