@use "../abstracts/" as *;

.heading {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr minmax(100px, 1fr);
  align-items: center;
  gap: $pad-200;
  margin: $pad-300 0;

  .tag {
    color: var(--text-clr-variant);
    letter-spacing: $ls-100;
    margin-top: 1px;
  }

  h2 {
    letter-spacing: $ls-100;
    line-height: 1.1;
    // text-align: center;
  }

  .line {
    height: 8px;
    border-radius: $br-light;
    background: var(--text-grey-300);
    box-shadow: inset 3px 3px rgba(black, 0.6),
      inset -1px -1px rgba(white, 0.2);
  }
}

@mixin section-heading-laptop() {
  .heading {
    grid-template-columns: min-content 1fr 100px;
    width: 80%;

    .line {
      width: 200px;
      height: 3px;
      justify-self: center;
    }

  }
}