@use "../abstracts/index" as *;

body {
  // background-color: #181818;
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: min(100%, 1800px);
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden auto;
}

.wrapper a {
  font-weight: $fw-semi-bold;
  color: inherit;

  &:hover {
    color: var(--text-variant);
  }
}

.wrapper :is(a, .icon, button) {
  cursor: pointer;
}

.wrapper :is(a, span) {
  display: inline-block;
  text-decoration: none;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.wrapper button {
  display: inline-block;
  font-size: $fs-button;
}

.wrapper button,
.wrapper button:hover,
.wrapper button:focus,
.wrapper button:focus-visible {
  outline: none;
  // outline: 4px auto -webkit-focus-ring-color;
}

.wrapper .full-width {
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}

.wrapper .truncate {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}