@use "../abstracts/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-clr-main);
  font-weight: $fw-regular;
  font-family: $ff-body;
  font-size: $fs-body;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  font: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul li {
  list-style-type: none;
  display: list-item;
}