@use "../abstracts/" as *;
@use "../components/button" as *;
@use "../components/bubbles" as *;

.banner {
  position: relative;
  min-height: 100vh;
  @include bg-image();
  background-blend-mode: multiply;

  // padding: 50vh $pad-200 $pad-200 $pad-400;
  position: relative;
  overflow: hidden;
  transition: $transition;

  .column-1 {
    color: var(--txt-white);
    position: absolute;
    left: 5%;
    bottom: 1em;

    p.tagline {
      font-family: $ff-variant;
      font-size: $fs-250;
      line-height: 1.2;
      letter-spacing: $ls-100;
      color: var(--text-clr-variant);
      margin-left: 4px;
    }

    .flex-container {
      display: flex;
      gap: 2px;

      h1 {
        color: var(--text-white);
        line-height: 1;
        margin-top: $pad-50;
        font-size: $fs-primary-header;
      }

      &.offset {
        margin: -12px 0 0 0;
      }
    }

    .subtitle {
      color: var(--text-grey-100);
      font-size: $fs-secondary-header;
      line-height: 1;
      margin-bottom: $pad-50;
    }

    p.text {
      margin-block: $pad-400;
      padding-inline-end: $pad-200;
      max-width: 35ch;
      word-spacing: 2px;
      // letter-spacing: $ls-100;
    }
  }

  .column-2 {
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}

@mixin banner-tablet() {
  .banner {
    --bottom: 5vh;

    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 50vh 2em var(--bottom);

    .column-2 {
      // opacity: 1;
      // height: max-content;
      display: block;
      position: absolute;
      right: 5%;
      top: 80px;
    }
  }
}

@mixin banner-laptop() {
  .banner {
    --bottom: 5vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $pad-200;
    padding: 30vh 6% var(--bottom);

    .column-1 {
      position: relative;

      .flex-container {
        h1 {
          // font-size: 80px;
        }

        &.offset {
          margin: -20px 0 0 0;
        }
      }

      p.text {
        max-width: 50ch;
      }
    }

    .column-2 {
      display: block;
      position: relative;
    }
  }
}